::-webkit-scrollbar {
    display: none;
}

div {
  outline: 1px solid red; 
}
img {
  max-height: 150px; 
  width: auto;
}

.myself {
  color: purple
}

.others {
  color: blue
}

.jumbotron {
  padding: 20px;
}

.btn-primary {
  min-height: 50px;
  min-width: 100px;
}

.choice {
  width: 33.3%
}
#langDiv {
  width: auto;
}

#chat {
  display: none;
}

#chat-window {
  min-height: 150px; 
  width: 75%;
}

#funStuff {
  display: none;
}