::-webkit-scrollbar {
    display: none;
}

/*div {
  outline: 1px solid red; 
}*/
img {
  max-height: 150px; 
  width: auto;
}

.myself {
  color: purple
}

.others {
  color: blue
}

.jumbotron {
  padding: 20px;
}

.btn-primary {
  min-height: 50px;
  min-width: 100px;
}

.choice {
  width: 33.3%
}

.col-xs-3, .col-xs-9 {
  min-height: 60px;
  position: relative;  
}



#langDiv {
  width: auto;
}

#chat {
  display: none;
}

#chat-window {
  min-height: 150px; 
  width: 75%;
  border: 1px solid lightgray
}

#funStuff {
  display: none;
}

#submit-name, #submit-chat, #chat-type {
  position: absolute;
  bottom: 0;
}

#chat-type{
  width: 100%;
}